.conteudo-pagina {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.titulo-pagina {
    padding: 100px 0px 60px 0px;
    background-color: #2a9ee2;
    text-align: center;
}
.titulo-pagina-2 {
    padding: 70px 0px 10px 0px;
    margin-bottom: 10px;
    background-color: #2a9ee2;
    text-align: center;
}

.informacao-pagina {
    text-align: center;
    margin-top: 30px;
}

.informacao-pagina p {
    color: #333;
}

.rodape {
    width: 100%;
}
