//
@import "colors";
@import "fonts";

//_Partials
@import "site/_partials/footer.scss";
@import "site/_partials/nav.scss";

//Components
@import "_components/logo.scss";

//Views
@import "site/index.scss";
@import "site/about-us.scss";
@import "site/contact.scss";
@import "site/login.scss";
@import "site/register.scss";

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    overflow: auto;
    text-wrap: nowrap;
    font-family: $primary-font;
}

.custom-font {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: bold;
}

.no-underline {
    text-decoration: none;
}
