@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    overflow: auto;
    text-wrap: nowrap;
    font-family: "Sixtyfour", sans-serif;
}

.footer {
    background-color: #e4e2e2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
    font-family: "Sixtyfour", sans-serif;
}

.footer-content {
    margin-bottom: 10px;
}
.footer-content > p > a {
    text-decoration: none;
    color: #555;
}

.custom-font {
    font-family: "Sixtyfour", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.no-underline {
    text-decoration: none;
}
