.container-login {
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #213328;
    border: 5px solid #222020;
}
.login-form {
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px; /* Aumentei o valor para um arredondamento mais suave */
    background-color: #dfdcdc; /* Alterei para um fundo branco */
    border: 5px solid #272525;
    box-shadow: 0 2px 4px rgba(170, 168, 168, 0.521); /* Adicionei uma sombra sutil */
}
.login-input {
    width: 90%;
    margin: 10% 0% -5% 5%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #272525;
    font-family: "Sixtyfour", sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.login-button {
    width: 90%;
    margin: 20% 0% -5% 5%;
    padding: 2%;
    cursor: pointer;
    background-color: transparent;
    color: #1a1818;
    font-family: "Sixtyfour", sans-serif;
    font-weight: bold;
}

.login-button:hover {
    background-color: #04060e;
    color: #fff;
}
.login-label {
    font-size: 18px;
    font-weight: bold;
    color: #272525;
    margin-top: 20%;
    margin-left: 25%;
}
.login-span {
    display: flex;
    justify-content: center;
    color: #c21408;
    margin-bottom: 20px;
}
.error-message-login {
    color: red;
    text-align: center;
    margin-top: 8%;
    font-size: 11px;
}
